.kanbanBoard {
  display: flex; /* Para que las columnas se coloquen horizontalmente */
  gap: 16px; /* Espaciado entre columnas */
  padding: 16px;
  overflow-x: auto; /* Hacer scroll horizontal si hay muchas columnas */
  background-color: #f3f3f3; /* Fondo del tablero */
  border-radius: 8px;
  margin-top: 18px;
}

.column {
  flex: 1; /* Todas las columnas tienen el mismo ancho */
  min-width: 300px; /* Ancho mínimo para columnas */
  background-color: #e3e3e3; /* Fondo gris claro para las columnas */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Para apilar tareas dentro de la columna */
}

.columnHeader {
  background-color: #2a3e5c; /* Color azul para el encabezado */
  color: white;
  padding: 12px;
  border-radius: 8px 8px 0 0; /* Bordes redondeados solo arriba */
  text-align: center;
  font-weight: bold;
}

.tasksContainer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px; /* Espaciado entre tareas */
}

.taskCard {
  background-color: white;
  padding: 16px 22px 16px 22px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 8px; /* Espaciado entre elementos dentro de la tarjeta */
  /*margin: 10px;*/
  position: relative;
}

.taskHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 16px; 
}

.taskCardTitle{
  text-transform: capitalize;
  margin: 2px 0 2px 0;
  flex-grow: 1;
}

.noTasks {
  color: #888; /* Texto gris para indicar que no hay tareas */
  text-align: center;
}

.priorityBox {
  display: inline-block;
  /*display: flex;*/
  padding: 4px 12px; /* Ajustar el tamaño del cuadro */
  border: 2px solid; /* Borde sólido */
  border-radius: 5px; /* Bordes redondeados */
  color: #fff; /* Color del texto */
  font-weight: bold;
  text-transform: capitalize; /* Poner la primera letra en mayúsculas */
  
  text-align: center; /* Centrar el texto dentro del recuadro */
  font-size: 14px; /* Tamaño de la fuente */
  max-width: 50px; /* Limitar el ancho máximo para no hacerlo tan largo */
  white-space: nowrap; /* Evitar que el texto se desborde */
  align-items: center;
  justify-content: flex-start;
}

.High {
  border-color: #e74c3c; /* Rojo para alta prioridad */
  background-color: rgba(231, 76, 60, 0.1); /* Fondo rojo suave */
  color: #e74c3c; /* Color de texto en rojo para alta prioridad */
}

.Medium {
  border-color: #f39c12; /* Amarillo para prioridad media */
  background-color: rgba(243, 156, 18, 0.1); /* Fondo amarillo suave */
  color: #f39c12; /* Color de texto en amarillo para media prioridad */
}

.Low {
  border-color: #2ecc71; /* Verde para baja prioridad */
  background-color: rgba(46, 204, 113, 0.1); /* Fondo verde suave */
  color: #2ecc71; /* Color de texto en verde para baja prioridad */
}

.icon {
  cursor: pointer;
  font-size: 18px;
  color: #555;
  margin-left: 10px;
}

.menu {
  position: absolute;
  top: 43%;  
  right: -5%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  display: none;
  flex-direction: column;
  width: 100px;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu.show {
  display: flex; /* Mostrar cuando esté activo */
  opacity: 1; 
}

.menuItem {
  padding: 8px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease; 
}

.menuItem:hover {
  background-color: #f0f0f0;
}