/* General style for the navigation container */
.container {
  width: 100%;
}

/* Style for the navigation bar */
.navbar {
  display: flex;
  justify-content: space-between; /* Space between logo and menu */
  align-items: center; /* Vertical alignment of elements */
  background-color: #2A3E5C;          // Color de fondo del menú
  padding: 20px 20px;     
  position: fixed; /* Asegura que el navbar se quede fijo */
  top: 0;
  width: 100%;
  z-index: 10; /* Asegura que el navbar esté por encima de otros elementos */

}

/* Style for the logo */
.logo {
  color: white;                    // Color del texto del logo
  font-size: 1.5rem;               // Tamaño de fuente del logo
  margin-right: auto;              // Empuja el menú a la derecha
}

/* Style for the menu container */
.menu {        
  display: flex;
  margin-left: 20px;  
  margin-right: 20px;  
}

/* Style for links */
.menuItem {
  color: white;                    // Color del texto de los enlaces
  text-decoration: none;           // Quitar subrayado
  margin-left: 30px;               // Espacio entre enlaces
  align-self: center;              // Alinear el elemento del menú verticalmente
}

.menuItem:hover {
  color: #f39c12;     // Subrayar al pasar el mouse
  ont-weight: bold;
}

.active {
  color: #f39c12; /* Color para resaltar el ítem activo */
  font-weight: bold; /* Hacer el texto más grueso */
}
