// variables.scss
/*$primary-color: #3498db;


body {
  background-color: $primary-color;
  font-family: Arial, sans-serif;

  .container {
    padding: 20px;

    h1 {
      color: darken($primary-color, 10%);
    }
  }
}*/

/* General style for the navigation container */
.container {
  background-color: #282c34; /* Dark background */
  padding: 1rem; /* Padding around the menu */
}