.tasksContainer {
  display: flex;
  /*position: relative;*/
  /*min-height: 100vh;*/
  margin-top: 70px;
}

.tasksContent {
  flex: 1;
  margin-left: 270px; /*Esto da espacio para el menú lateral */
  padding: 30px;
  padding-left: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createTaskButton {
  background-color: #2A3E5C;
  color: white;
  padding: 12px 20px;
  text-align: center;
  border-radius: 4px;
  font-size: 1.1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: inline-block;
  width: auto;

  &:hover {
    background-color: #0056b3;
  }
}

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalContent {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  max-width: 90%;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Esto centra el modal vertical y horizontalmente */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}